[submodule "lib/vec"]
	path = lib/vec
	url = git@github.com:ms1d/vec
[submodule "lib/common"]
	path = lib/common
	url = git@github.com:ms1d/common
[submodule "lib/commonlib"]
	path = lib/commonlib
	url = git@github.com:ms1d/commonlib
[submodule "lib/veclib"]
	path = lib/veclib
	url = git@github.com:ms1d/vec
[submodule "lib/thread_pool"]
	path = lib/thread_pool
	url = git@github.com:ms1d/thread_pool
